name: Test and Build

on:
    pull_request:
        branches:
            - main

jobs:
    test:
        runs-on: [ubuntu-latest, windows-latest]
        defaults:
            run:
                working-directory: ./

        strategy:
            matrix:
                node-version: [18.16.1]

        steps:
            - uses: actions/checkout@v3

            - name: Set up Node
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Install dependencies
              run: yarn install

            - name: lint
              run: yarn lint

            - name: build
              run: yarn build
